.members {
    display:flex;
    flex-direction: column;
}

.group-title {
    margin-bottom: 0.5em;
    margin-top: 1.0em;
}

.group-descripe {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.members-list{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    padding: 0.5em;
}

.members-list button{
    width: 100px;
    padding: 0.5em;
}

.members > *{
    margin: 0.5em;
}

.members h3{
    margin-top: 2em;
}

.admin {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;

    font-weight: bold;
}