.container_allgroups {
    height: 80vh;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 0.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.makegroup, .mygroups {
    margin: 0.5em;
    border-radius: 8px;
    min-width: 150px;
}

.grouplist {
    width: 60vw;
    display: flex;
}

.description {
    margin-left: 10%;
}

.alph_order {
    border-radius: 8px;
    width: 50px;
}

.groups {
    border: 1px solid black;
    width: 60vw;
    height: auto;
}

ul {
    list-style-type: none;
}