.home-container {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex: 1;
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-image: var(--background-image);
  padding: 20px;
  padding-bottom: 34px;
}

.card-container {
  position: relative;
  width: 350px;
  height: 370px;
  margin: 30px;
}

.frontText {
  text-align: center;
  color: var(--dark-background-color);
  font-size: 27px;
  font-weight: bold;
}

.homeposter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  transform-origin: center bottom;
}

.homeposter:first-child {
  transform: translateX(-40%) translateY(10%) rotate(-10deg);
  z-index: 4;
}

.homeposter:nth-child(2) {
  transform: translateX(-40%) translateY(10%) rotate(10deg);
  z-index: 3;
}

.homeposter:last-child {
  transform: translateX(-40%) translateY(17%) rotate(30deg);
  z-index: 2;
}
