.card {
  flex: 0 1 calc(32.333% - 40px);
  min-height: calc(var(--base-size) * 7);
  max-height: calc(var(--base-size) * 7);
  padding: 20px;
  margin: 10px;
  margin-top: calc(var(--general-margin) * 3);
  border-radius: 10px;
  background-image: var(--button-gradient);
  color: var(--dark-foreground-color);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-3px);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin: 0;
}

@media (max-width: 1100px) {
  .card {
    flex: 0 1 calc(50% - 40px);
  }
  .card:last-child {
    margin-bottom: 46px;
  }
}

@media (max-width: 655px) {
  .card {
    flex: 0 1 100%;
    margin: 10px auto;
  }
  .card:last-child {
    margin-bottom: 46px;
  }
}

@media (max-width: 300px) {
  .card {
    display: none;
  }
}
