.home-container {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-image: var(--background-image);
  padding: 20px;
  padding-bottom: 34px;
  margin-top: 40px;
}

.home-container,
.home-container * {
  font-family: "Madimi One", sans-serif !important;
}

.card-container {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 70px;
  z-index: 1;
}

.frontText {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: var(--dark-foreground-color);
  font-size: 1.8rem;
  overflow: visible;
  letter-spacing: 1.2px;
  z-index: 5;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  text-align: justify;
  animation: pulse 20s infinite, colorPulse 3s infinite alternate;
}

.frontText.one {
  margin-left: 40px;
  animation-delay: 5s;
}

.frontText.one:hover {
  color: var(--light-foreground-color);
}

.frontText.two {
  margin-left: 20px;
  animation-delay: 10s;
}

.frontText.one:hover {
  color: var(--light-foreground-color);
}

.frontText.three {
  margin-left: 30px;
  animation-delay: 15s;
}

.frontText.one:hover {
  color: var(--light-foreground-color);
}

.card-container:hover,
.frontText:hover {
  animation-play-state: paused;
}

.homeposter {
  position: absolute;
  top: 19%;
  left: 50%;
  width: 60%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  transform-origin: center bottom;
}

@keyframes colorPulse {
  0%,
  100% {
    color: var(--dark-foreground-color);
  }
  50% {
    color: var(--light-foreground-color);
  }
}

.homeposter:hover {
  z-index: 1001 !important;
}

.homeposter:first-child {
  transform: translateX(-50%) translateY(0.3%) rotate(0deg);
  z-index: 4;
}

.homeposter:first-child:hover {
  transform: translateX(-50%) translateY(0.3%) rotate(0deg) scale(1.05);
}

.homeposter:nth-child(2) {
  transform: translateX(-15%) translateY(0%) rotate(5deg);
  z-index: 3;
}

.homeposter:nth-child(2):hover {
  transform: translateX(-15%) translateY(0%) rotate(5deg) scale(1.05);
}

.homeposter:last-child {
  transform: translateX(-100%) translateY(0.5%) rotate(-5deg);
  z-index: 2;
}

.homeposter:last-child:hover {
  transform: translateX(-100%) translateY(0.5%) rotate(-5deg) scale(1.05);
}

@media (max-width: 800px) {
  .frontText.one {
    margin-right: 100px;
  }

  .frontText.two {
    margin-right: 90px;
  }

  .frontText.three {
    margin-right: 130px;
  }
}

@media (max-width: 600px) {
  .home-container {
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }

  .card-container {
    margin: 30px auto;
    margin-top: 10px;
    margin-bottom: 150px;
  }

  .frontText {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 40px;
    text-align: center;
  }

  .homeposter {
    margin-top: 50px;
    width: 20%;
    height: auto;
    left: 34%;
    transform: none;
  }
}

@media (max-width: 500px) {
  .frontText.one {
    margin-right: 40px;
  }

  .frontText.two {
    margin-right: 30px;
  }

  .frontText.three {
    margin-right: 40px;
  }
}
