h2 {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rekisteröidy:first-child {
  margin-top: 50px;
}

.ryhmäsivu * {
  margin: 1em;
  padding: 0.5em;
  min-width: 350px;
  border-radius: 8px;
  box-sizing: border-box;
}

.otsikko * {
  margin: 0em;
  padding: 0.5em;
  min-width: 350px;
  min-height: 25px;
  border-radius: 8px;
  box-sizing: border-box;
}

.ryhmännimi * {
  margin: 0em;
  padding: 0.5em;
  min-width: 350px;
  min-height: 2px;
  border-radius: 8px;
  box-sizing: border-box;
}
.light .ryhmännimi * {
  background-color: #fff;
  color: black;
}

.dark .ryhmännimi * {
  background-color: white;
  color: black;
}

.kuvaus * {
  margin: 0em;
  padding: 0.5em;
  min-width: 350px;
  min-height: 220px;
  border-radius: 8px;
  box-sizing: border-box;
}

.kuvaus textarea {
  margin: 0em;
  padding: 0.5em;
  min-width: 350px;
  min-height: 220px;
  max-height: 700px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  resize: vertical;
  text-align: left;
  vertical-align: top;
  background-color: inherit;
  color: inherit;
}

.light .kuvaus * {
  background-color: #fff;
  color: black;
}

.dark .kuvaus * {
  background-color: white;
  color: black;
}

.nappi * {
  background-color: #293887;
  color: white;
  margin: 0em;
  padding: 0.5em;
  min-width: 350px;
  min-height: 22px;
  border-radius: 8px;
  box-sizing: border-box;
}
