.searchpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.search-type {
  display:flex;
  margin-bottom: 0.3em;
}

#search {
  font-size: 1.2em
}

.search-type input{
  margin: 1em;
  margin-right: 5px;
}

.light-theme .search-type span {
  margin: 1em;
  margin-left: 0;
  color: black; /* Tekstin väri vaaleassa teemassa */
}

.dark-theme .search-type span {
  margin: 1em;
  margin-left: 0;
  color: white; /* Tekstin väri tummassa teemassa */
}


.name-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 100px;
  margin: 10px auto;
}

.name-search >* {
  margin: 0.5em;
}

.filtered-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 90vw;
  margin: 20px auto;
}

.filtered-search > :nth-child(2) {
  border-bottom: 3px solid black;
}

.filtered-search div {
  width: 33%;
  margin: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; 
  flex-grow: 1;
}

.filtered-search div > * {
  margin: 0.5em;
  width: 100%; 
}

.searchInput {
  border: 2px solid var(--dark-background-color);
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
}

.search-bars select {
  border: 2px solid var(--dark-background-color);
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 18px;
}



.search-bars button {
  border: 2px solid var(--dark-background-color);
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 18px;
}

.movieList img {
  border-radius: 6px;
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.movieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.poster {
  width: 15vw;
}

.changePage-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border: 2px solid var(--dark-background-color);
  -webkit-text-fill-color: var(--dark-foreground-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--white-background-color) inset;
  box-shadow: 0 0 0px 1000px var(--white-background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (max-width: 1200px){
  .poster {
    width: 18vw;
  }

  .filtered-search div {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
  }

}

@media only screen and (max-width: 1000px){
  .poster {
    width: 22vw;
  }

}

@media only screen and (max-width: 800px){
  .poster {
    width: 29vw;
  }

}

@media only screen and (max-width: 600px){
  .poster {
    width: 45vw;
  }

}

@media only screen and (max-width: 400px){
  .poster {
    width: 80vw;
  }

}

