.showtimes-container {
  max-width: calc(var(--base-size) * 15);
  min-width: calc(var(--base-size) * 15);
  margin: var(--general-margin) auto;
  margin-top: calc(var(--general-margin) * 5);
  padding: 34px;
  background-color: var(--light-foreground-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.filter-container {
  margin-bottom: calc(var(--general-margin) * 2);
  text-align: center;
}

.filter-select {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--grey-color);
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.please {
  text-align: center;
  font-size: 18px;
  color: var(--dark-color);
}

.st-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.st-item:nth-child(3n+1) {
  margin-left: 0;
}
.st-item:nth-child(3n) {
  margin-right: 0;
}

.st-item {
  width: calc(33.333% - 20px);
  margin-bottom: calc(var(--general-margin) * 2);
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: calc(var(--general-padding) * 1.5);
  margin-top: calc(var(--general-margin) * 1.5);
  display: flex;
  flex-direction: column;
}

.st-image {
  height: 353px;
  width: 235px;
}

.st-time {
  font-size: 18px;
}

.st-time p,
.st-title,
.st-details {
  margin: 5px 0;
}

.st-title {
  font-size: 24px;
  color: var(--accent-color);
  margin-top: 10px;
}

.st-details, .st-time {
  font-size: 18px;
  color: var(--dark-color);
}

@media (max-width: 1100px) {
  .st-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .showtimes-container {
    padding: 10px;
  }

  .st-item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
