nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-color: var(--light-background-color);
  min-height: calc(var(--base-size) * 1.6);
  border-bottom: 0.1px solid var(--dark-background-color);
  z-index: 1000;
}

.navButton,
.signButton,
.burger-menu,
.theme {
  flex-shrink: 0;
}

#buttons ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0.1em;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#buttons ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-container {
  order: 1;
  flex: 0 1 12%;
  min-width: 156px;
  min-height: auto;
  flex-shrink: 0;
}

.logo-container:hover {
  color: var(--accent-color);
}

.logo-container a {
  display: inline-block;
  cursor: pointer;
}

.logo-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.burger-menu {
  height: 100%;
  order: 2;
  display: flex;
  flex: 1 12%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger {
  width: 3.3vw;
  height: 0.6vw;
  min-width: 44px;
  min-height: 8px;
  margin-bottom: 0.2vw;
  margin-top: 0.2vw;
  background-color: var(--theme-color);
  border-radius: 0.5em;
  border: 1px solid var(--theme-stroke-color);
}

.burger-menu:hover .burger {
  transform: translate3d(-0.5px, 0.5px, 0.5px);
  background-color: var(--accent-color);
}

.menu {
  /*background-color: rgba(255, 255, 255, 0.1);*/
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 38%;
  height: auto;
  background-image: var(--button-gradient);
  position: absolute;
  transition: all 0.4s ease-out;
  top: 101%;
  overflow: auto;
  z-index: 1001;
}

#menu li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#menu a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--dark-foreground-color);
  padding: 1vw;
  font-size: 1.7vw;
  font-weight: 600;
  width: 100%;
  min-width: 100%; /*200px on aika hyvä tässä*/
  background-color: var(--white-background-color);
  text-decoration: none;
  border-radius: 5px;
  border: 0.3px solid var(--dark-foreground-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#menu a:hover,
#menu a:focus {
  background-color: var(--blue-color);
  color: var(--dark-foreground-color);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transform: scale(1.05);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#menu a .fa-icon {
  margin-right: 12px;
  width: 30px;
  text-align: center;
}

#menu .link-text {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start; /*tekstit samaan*/
  align-items: center;
}

.hidden {
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
}

.visible {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}

.burger-menu.clicked {
  transform: rotate(90deg);
  transform-origin: center;
  transition: transform 0.4s ease-out;
}

.burger-menu.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

.navibutton-container {
  display: flex !important;
  order: 3;
  flex: 1 48%;
  min-width: 400px;
  align-items: center !important;
  justify-content: space-between !important;
  flex-direction: row;
  width: 100%;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.navButton {
  display: flex;
  flex: 1 33%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  min-width: 14vw;
  margin: 0;
}

.navButton,
.signButton {
  padding: 0.3em;
  font-weight: 600;
  font-size: 1.65vw;
  text-align: center;
}

.navButton .fa-icon {
  margin-right: 12px;
}

.sign-container {
  order: 5;
  display: flex;
  flex: 0 1 16%;
  margin-right: 1vw;
  justify-content: center;
  align-items: center;
}

/*Kokeilin laittaa tähän position absolute ja aina oikealle kiinni. Ei vielä täydellinen. -Jaakko*/
.signButton {
  max-width: 16vw;
  min-width: 14vw;
  position: absolute;
  right: 3vw;
}

.signButton .fa-icon {
  margin-right: 12px;
}

.login {
  display: inline;
}

.login-small {
  display: none;
}

.theme {
  display: flex;
  order: 5;
  flex: 1 12%;
  align-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 42px;
}

.theme-icon {
  stroke: var(--theme-stroke-color);
  stroke-width: 10.6px;
  fill: currentcolor;
  font-size: 3vw;
}

.theme-icon:hover {
  color: var(--accent-color);
}

.burger-menu,
.theme {
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

@media (max-width: 1200px) {
  #menu {
    width: auto;
  }

  .theme {
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .navButton,
  .button-container {
    display: none;
  }

  .theme {
    order: 1;
    margin-right: 0;
  }

  .burger-menu {
    order: 1;
  }

  .logo-container {
    order: 2;
    margin-left: 30px;
  }

  .login {
    display: none;
  }

  .login-small {
    display: inline;
    font-size: 17px;
  }

  .signButton {
    padding: 10px;
    text-align: center;
  }

  .sign-container {
    display: sticky;
    flex-wrap: wrap;
    order: 3;
  }

  .burger {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .theme-icon {
    font-size: 36px;
  }

  .menu {
    top: 124.863px;
    width: auto;
  }

  #menu a {
    font-size: 2.6vw;
  }

  .burger-menu,
  .theme {
    min-width: 90px;
  }
}

@media (max-width: 800px) {

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .logo-container {
    order: 2;
    text-align: center;
    margin-left: 0;
  }
  
  .login-small {
    display: inline;
    font-size: 12px;
  }

  .theme,
  .burger-menu {
    order: 1;
    margin-right: 10px;
  }

  .burger-menu {
    margin-top: 0;
    margin-left: auto;
    margin-right: 5px;
  }

  .menu {
    top: 124.863px;
    width: auto;
  }

  #menu a {
    font-size: 3.7vw;
  }

  .container {
    overflow: none;
  }

  .theme,
  .burger-menu {
    min-width: 50px;
  }
}

@media (max-width: 600px) {

}